@page
@model BirdMeal.Pages.Staffs.Products.AddProductModel
@{
    ViewData["Title"] = "Staff - Add Product";
    Layout = "~/Pages/Shared/StaffLayout.cshtml";
}

<form method="post" class="my-4" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label for="productName">Product Name:</label>
        <input type="text" class="form-control" asp-for="AddProduct.ProductName" required />
        <span asp-validation-for="AddProduct.ProductName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" asp-for="AddProduct.Price" required min="1"/>
        <span asp-validation-for="AddProduct.Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" class="form-control" asp-for="AddProduct.Quantity" required min="1"/>
        <span asp-validation-for="AddProduct.Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" asp-for="AddProduct.Description" rows="4" required></textarea>
        <span asp-validation-for="AddProduct.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="status">Status:</label>
        <select class="form-control" asp-for="AddProduct.Status" required>
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
        <span asp-validation-for="AddProduct.Status" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="weight">Weight:</label>
        <input type="number" class="form-control" asp-for="AddProduct.Weight" required min="1"/>
        <span asp-validation-for="AddProduct.Weight" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" class="form-control-file" asp-for="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <!-- Display the uploaded image -->
    @if (Model.AddProduct != null && !string.IsNullOrEmpty(Model.AddProduct.Image))

    {
        <div>
            <img src="~/images/@Model.AddProduct.Image" alt="Product Image" width="200" />
        </div>
    }

    <button type="submit" class="btn btn-primary">Add Product</button>
</form>
