@page
@model BirdMeal.Pages.Globals.Products.ListProductModel
@{
    ViewData["Title"] = "Our Products";
}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Best Product, Best Price for our Birds!</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<!-- Section-->
@if (Model.ListProducts != null && Model.ListProducts.Any())
{

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">

            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var item in Model.ListProducts)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/images/@item.Image" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.ProductName</h5>
                                    <!-- Product price-->
                                    @item.Price $
                        </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-primary mt-auto" href="~/Globals/Products/DetailGlobal/@item.ProductId">More information</a></div>
                            </div>
                        </div>
                    </div>
                }
            </div>


        </div>
    </section>
}
else
{
    <h1>Empty List</h1>
}
