<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BirdMeal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BirdMeal.styles.css" asp-append-version="true" />
	<!-- //for-mobile-apps -->
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			   function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="~/my-css/css/font-awesome.css" rel="stylesheet" />
	<link href="~/my-css/css/style.css" rel="stylesheet" />
	<link href="~/my-css/css/bootstrap.css" rel="stylesheet" />
	<link href="~/my-css/css/easy-responsive-tabs.css" rel="stylesheet" />
	<script src="~/my-css/js/creditly.js"></script>
	<script src="~/my-css/js/easing.js"></script>
</head>
<body>
    <header >
		<!-- header -->
		<div class="agileits_header" style="position: fixed; top: 0; left: 0; width: 100%; z-index: 999; ">
			<div class="w3l_offers">
				<a href="products.html">Today's special Offers !</a>
			</div>
			<div class="w3l_search">
				<form action="#" method="post">
					<input type="text" name="Product" value="Search a product..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required="">
					<input type="submit" value=" ">
				</form>
			</div>
			<div class="product_list_header">
				<div class="last">
					<fieldset>
						<a style="color: white" href="/Cart" class="btn btn-success">
							<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							 View your cart
						</a>
					</fieldset>
				</div>
				
			</div>

			<!-- Example split danger button -->
			@if (Context.Session.GetString("loginMemName") != null)
			{
				<div class="w3l_header_right">
					<div class="dropdown">
						<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown"><span>@Context.Session.GetString("loginMemName")</span></a>
						<div class="dropdown-menu">
							<a href="/MyOrder/@Context.Session.GetString("loginMemId")" class="dropdown-item">
								<i class="fa fa-archive" aria-hidden="true"></i>
								My Order
							</a>
							<a href="/MyProfile/@Context.Session.GetString("loginMemId")" class="dropdown-item">
								<i class="fa fa-user" aria-hidden="true"></i>
								My Profile
							</a>
							<a href="/MyWallet/@Context.Session.GetString("loginMemId")" class="dropdown-item">
								<i class="fa fa-money" aria-hidden="true"></i>
								My Wallet
							</a>
							<a href="/Logout" class="dropdown-item">Logout</a>
						</div>
					</div>
				</div>
			}
			else
			{
				<div class="w3l_header_right">
			<ul>
				<li class="dropdown profile_details_drop">
					<a href="/Login"><i class="fa fa-user" aria-hidden="true"></i> Sign In</a>
				</li>
			</ul>
		</div>
				
				<div class="w3l_header_right1">
					<h2><a href="/Register">Register</a></h2>
				</div>
			}
			


			
			<div class="clearfix"> </div>
		</div>
		
		<!-- //script-for sticky-nav -->
		<div class="logo_products">
			<div class="container">
				<div class="w3ls_logo_products_left">
					<h1><a href="/Index"><span>Bird</span> Store</a></h1>
				</div>
				<div class="w3ls_logo_products_left1">
					<ul class="special_items">
						<li><a href="/Index">Home</a><i>/</i></li>
						<li><a href="/AboutUs">About Us</a><i>/</i></li>
						<li><a href="~/Globals/Meals/ListMeal">Best Deals</a><i>/</i></li>
						<li><a href="~/Globals/Products/ListProduct">Our Products</a><i>/</i></li>
						<li><a href="/Service">Services</a></li>
					</ul>
				</div>
				<div class="w3ls_logo_products_left1">
					<ul class="phone_email">
						<li><i class="fa fa-phone" aria-hidden="true"></i>(+084) 234 567</li>
						<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a>betonamu@outlook.com</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //header -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
	<footer>
		<div class="wthree_footer_copy">
			<p>© 2016 Grocery Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
		</div>
	</footer>
	
	<script src="~/my-css/js/jquery-1.11.1.min.js"></script>
	<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <script src="~/my-css/js/move-top.js"></script>
    <script src="~/my-css/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>