@page
@model BirdMeal.Pages.AboutModel
@{
	ViewData["Title"] = "About Us";
}
<!-- products-breadcrumb -->
<div class="products-breadcrumb" style="position: fixed; top: 0; left: 0; width: 100%; z-index: 999; ">
	<div class="container">
		<ul>
			<li><i class="fa fa-home" aria-hidden="true"></i><a href="/Index">Home</a><span>|</span></li>
			<li>About Us</li>
		</ul>
	</div>
</div>
<!-- //products-breadcrumb -->
<div class="privacy about">
	<h3>About Us</h3>
	<p class="animi">
		Keep your bird feeders and bird tables stocked up with our fantastic range of wild bird food to suit every type of bird and feeder.

		When you buy bird food from BM you can be assured it is made with high quality ingredients and free from cheap fillers, our bird food is delicious and rich in nutrients. Our range includes straight and mixed bird seed, with sunflower hearts and nyjer seed, as well as suet cakes and nibbles, fat balls, peanuts and mealworms.

		Whether you have a favourite species of wild bird, or you'd love to welcome every species, our healthy and nutritious bird food range will help you to attract a whole host of birds to your garden.
	</p>
	<div class="agile_about_grids">
		<div class="col-md-6 agile_about_grid_right">
			<img src="~/images/about.jpg" alt=" " class="img-responsive" />
		</div>
		<div class="col-md-6 agile_about_grid_left">
			<ol>
				<li>Seed mixesSeed mixes</li>
				<li>Straight seeds</li>
				<li>Sunflower hearts & seeds</li>
				<li>Bird seed sacks</li>
				<li>Nibbles & sprinkles</li>
				<li>Coconut bird feeders</li>
			</ol>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //about -->